/* a-side(가계부 테이블) */
.account-book-form {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    width: 1510px;
    /* height: auto; */
    margin-left: 5px;
    justify-content: left;
    overflow: auto;
}

.a-side {
    box-sizing: border-box;
    width: 450px;
}

.content {
    box-sizing: border-box;
    width: 100%;
    /* border: 1px solid red; */
}

.account-book-talbe {
    box-sizing: border-box;
    width: 450px;
    margin: auto;
    font-size: 12px;
}

.account-book-talbe>thead>tr>th {
    padding: 4px;
    background-color: aliceblue;
    border: 1px solid lightgrey;
}

.account-book-talbe>tbody>tr>td {
    padding: 4px;
    text-align: center;
    font-weight: bold;
    border: 1px solid lightgray;
}

.account-book-category,
.main-category {
    background-color: aliceblue;
    border: 1px solid lightgrey;
}

.total{
    background-color: aliceblue;
    border: 1px solid lightgrey;
}

/* content(차트) */

/* sheet-tap */
.sheet-tap{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 35px;
    margin-top: 5px;
    background-color: lightgray;
}