.board-menu-form {
    display: flex;
    width: 900px;
    margin: auto;
    margin-bottom: 10px;
    font-size: 2rem;
}

.board-menu {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 5px 0px 5px 0px;
    text-align: center;
    border: 1px solid lightgray;
}

.board-menu>a {
    display: block;
    text-decoration: none;
    color: black;
}

.board {
    box-sizing: border-box;
    width: 900px;
    margin: auto;
}

.board>thead>tr>th {
    padding: 10px;
    text-align: center;
    background-color: aliceblue;
    border: 1px solid lightgray;
}

.board>tbody>tr>td {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border: 1px solid lightgray;
}

.board>tbody>tr>td>a {
    text-decoration: none;
    color: black;
}

.board-num,
.board-writer,
.board-date,
.board-chk {
    width: 120px;
}

.board-title {
    width: 420px;
}

.serach-form {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: auto;
    margin-top: 5px;
}

.pagination-form {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 38px;
    margin: 0px 0px 5px 0px;
    justify-content: center;
    text-align: center;
}

.pagination {
    position: relative;
    left: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.pagination>li>a {
    color: black;
}

.page-item.active .page-link {
    color: #555;
    background-color: #f1f1f1;
    border-color: #ccc;
}

.page-link:focus,
.page-link:hover {
    color: #000;
    background-color: #fafafa;
    border-color: #ccc;
}

.search-sub-form {
    box-sizing: border-box;
    display: flex;
    width: 102%;
    padding-left: 55px;
    justify-content: center;
}

.search-icon {
    height: 100%;
    margin-right: 5px;
    text-align: center;
    color: black;
}

.search-bar {
    width: 400px;
    height: 100%;
    margin-right: 5px;
    text-align: center;
    font-size: 1rem;
}

.search-btn {
    width: 70px;
    height: 38px;
    margin-right: 5px;
    font-size: 1rem;
}

.wirte-btn {
    position: relative;
    left: 258px;
    box-sizing: border-box;
    width: 70px;
    height: 38px;
    font-size: 1rem;
}

/* boardWrite */
.board-write-form {
    box-sizing: border-box;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.board-write-sub-form1 {
    box-sizing: border-box;
    display: flex;
    width: 65%;
    line-height: 30px;
    margin-bottom: 5px;
}

.board-write-sub-form2 {
    box-sizing: border-box;
    display: flex;
    width: 35%;
    line-height: 30px;
    margin-bottom: 5px;
    justify-content: end;
    text-align: center;
}

#board-write-label {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
}

#board-write-content-form {
    box-sizing: border-box;
    width: 100%;
}

#board-write-title>input {
    box-sizing: border-box;
    display: inline;
    width: 540px;
    height: 30px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 1rem;
}

#board-write-content-form>form>p>textarea {
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 1rem;
    resize: none;
    /* 사이즈 고정 */
}

.write-reg-btn {
    position: relative;
    left: 750px;
    bottom: 18px;
    width: 70px;
    margin-left: 5px;
}

.post-nav-form {
    position: relative;
    top: -20px;
    box-sizing: border-box;
    width: 100%;
    display: block;
    /* justify-content: end; */
}

.post-nav-sub-form {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.board-list {
    position: relative;
    left: 747px;
    top: -67px;
    width: 70px;
    height: 38px;
    margin-left: 5px;
    font-size: 1rem;
}

#title {}

#writer {
    box-sizing: border-box;
    margin-left: 10px;
    color: gray;
}

/* Ajax 비동기 처리 시 게시판 목록 색상 변경*/
.active {
    font-weight: bold;
    background-color: #efefef;
}