header {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    background-color: #11264F;
}

header>a {
    box-sizing: border-box;
    display: block;
    width: 55%;
    height: 50px;
    line-height: 50px;
    padding-left: 38%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    color: white;
}

.menuIcon>svg {
    box-sizing: border-box;
    width: 40px;
    height: 50px;
    color: white;
}

.headerSignForm {
    box-sizing: border-box;
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.headerSignForm>a {
    box-sizing: border-box;
    line-height: 50px;
    margin-right: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: white;
}

.headerSignForm>span {
    box-sizing: border-box;
    line-height: 50px;
    margin: 0px 10px 0px 0px;
    font-weight: bold;
    color: white;
}

.headerSignForm>input {
    margin: 10px 10px 10px 0px;
    font-size: 0.9;
    font-weight: bold;
}

.signUpButton {
    width: 65px;
    margin: 10px 10px 10px 10px;
}

.menu {
    position: absolute;
    display: none;
    width: 250px;
    height: 1000px;
    margin-top: 50px;
    background-color: #11264F;
}

.menu>a {
    display: block;
    margin: 10px 0px 20px 10px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

@media(max-width:1000px) {
    header>a {
        box-sizing: border-box;
        width: 30%;
        padding-left: 10px;
        text-decoration: none;
        text-align: left;
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
    }

    .headerSignForm>span {
        display: none;
    }

    .headerSignForm {
        width: 70%;
    }

    .headerSignForm>a {
        box-sizing: border-box;
        line-height: 50px;
        text-decoration: none;
        font-weight: bold;
        color: white;
    }

}